.main-body{
    text-align: center;
    font-family: helvetica;   
}

.main-body .ribbon-forum{
    background-color: #FFFFFF;
    padding-right: 5vw;
    padding-left: 5vw;
    margin: 1vh 2vw 1vh 2vw;
    border-radius: 2vw;
}

.main-body .ribbon{
    display: inline-block;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: 0px;
    font-size: 5vh;
    font-family: helvetica;
    color: #002156;
}

.main-body .ribbon-forum .button{
    display: inline-block;
    position: absolute;
    right: 5vw;
    margin-top: 3vh;
    border: 0px;
    padding: 1vh 0px 1vh 0px;
    border-radius: 1vw;
    width: 10vw;
    background-color: #57b846;
    color: #ffffff;
    transition: all 0.3s;
}

.main-body .ribbon-forum .button:hover{
    background-color: #111111;
}

.main-body .forum-threads-container{
    border-radius: 1vw;
    background-color: #FFFFFF;
    margin: 1vh 2vw 1vh 2vw;
    text-align: left;
}

.main-body .forum-threads-container hr{
    width: 90%;
}

.main-body .forum-thread img{
    display: inline-block;
    vertical-align: middle;
    height: 10vh;
    margin-left: 4vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: #FFFFFF;    
}

.user-info{
    vertical-align: middle;
    display: inline-block;
    margin-left: 2vw;
}

.user-info p{
    font-size: 1vw;
}

.main-body .thread-info{
    vertical-align: middle;
    display: inline-block;
    margin-left: 2vw;
}
