.main-body{
    display: flex;
    align-items: center;
    vertical-align: top;
}
.main-body #main-image{
    width: 50vw;
    display: inline;
    position: relative;
}


.main-body #main-image #photo{
    margin: 1vh 1vw 1vh 1vw;
    width: 48vw;
}

.main-body #main-image p{
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    text-shadow: 10px 1px 1px 1px #000000;
    font-size: 2vw;
    width: 48vw;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.main-body .navigation-links{
    text-align: center;
    display: inline;
    width: 49vw;
}

.main-body .navigation-links .main-link{
    display: inline-block;
    box-sizing: border-box;
    width: 49vw;
    padding-top: 1vh;
    margin-top: .7vw;
    text-decoration: none;
    font-family: helvetica;
    border-radius: 1vh;
    font-weight: bold;
    color: black;
    background: linear-gradient(to bottom,  #EEEEEE, #DDDDDD);
    transition: all 0.2s;    
}

@media (min-aspect-ratio: 5/3){
    .main-body .navigation-links .main-link{
	height: 6vh;
	font-size: 3vh;
    }
}

@media (max-aspect-ratio: 5/3){
    .main-body .navigation-links .main-link{
	height: 4vh;
	font-size: 2vh;
    }
}

.main-body .navigation-links .main-link:hover{
    transform: scale(1.03);
}
