
.main-body{
    display: flex;
    align-items: top;
    vertical-align: top;
}
.main-body #main-image{
    width: 50vw;
    display: inline;
    position: relative;
}


.main-body #main-image #photo{
    margin: 1vh 1vw 1vh 1vw;
    width: 48vw;
}

.main-body #main-image p{
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    font-size: 2vw;
    width: 48vw;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.main-body .navigation-links{
    text-align: center;
    display: inline;
    width: 49vw;
}

@media (min-aspect-ratio: 5/3){
    .main-body .navigation-links .main-link{
	display: inline-block;
	box-sizing: border-box;
	width: 49vw;
	height: 6vh;
	padding-top: 1vh;
	font-size: 3vh;
	margin-top: .7vw;
	text-decoration: none;
	font-family: helvetica;
	font-weight: bold;
	color: black;
	background: linear-gradient(to bottom right,  #EEEEEE, #AAAAEE);
	transition: all 0.3s;    
    }
}

@media (max-aspect-ratio: 5/3){
    .main-body .navigation-links .main-link{
	display: inline-block;
	box-sizing: border-box;
	width: 49vw;
	height: 4vh;
	padding-top: 1vh;
	font-size: 2vh;
	margin-top: .7vw;
	text-decoration: none;
	font-family: helvetica;
	font-weight: bold;
	color: black;
	background: linear-gradient(to bottom right,  #EEEEEE, #AAAAEE);
	transition: all 0.3s;    
    }
}


.main-body .navigation-links .main-link:hover{
    color: white;
    background: #111111;
}
