html {
    height: 100%;
}

body{
    margin:0px;
    background-color: #002156;
    height: 100%;
}

.topbar{
    width: 100%;
    height: 200px;
    margin: auto;
    text-align: center;
    display: inline-block;
    background: linear-gradient(to bottom,  #FFFFFF, #DFDFDF);
    box-shadow: 1px 0px 10px 0px #000000;
}

.topbar #logo{
    margin: 2em 2em 2em 2em;
    float: left;
    width: auto;
    height: 70%;
}

.topbar #logo-link{
    padding: 1% 3% 1% 3%;
    height: 90%;
    float: left;
}

.topbar #gym-name{
    display: inline-block;
    text-align: center;
}

.topbar #gym-name h1{
    font-family: helvetica;
    font-size: 3em;
    color: #002156;
}


.topbar .login-form{
    float: right;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 3%;
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 1em;
    overflow: hidden;
    text-align: center;
    width: 150px;
    height: 85%;

}

.topbar .login-form h2{
    text-align: center;
    font-family: arial;
    font-size: .8em;
    background-color: #191970;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0px;
    color: #FFFFFF;
}

.topbar fieldset{
    border: 0;
}

.topbar .login-form .form-input{
    padding: 3% 10% 3% 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    background-color: #DDDDDD;
    border-radius: 1em;
    text-align: center;
    border: 0px;
}

.topbar .login-form #login-button{
    margin-top: 5%;
    border: 0px;
    padding: 3% 10% 3% 10%;
    border-radius: 1em;
    width: 80%;
    background-color: #57b846;
    color: #ffffff;
    transition: all 0.3s;
}

.topbar .login-form #login-button:hover{
    background-color: #111111;
}

.topbar .login-info{
    float: right;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 3%;
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 1em;
    overflow: hidden;
    text-align: center;
    width: 150px;
    height: 85%;

}

.topbar .login-info h2{
    text-align: center;
    font-family: arial;
    font-size: .8em;
    background-color: #191970;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0px;
    color: #FFFFFF;
}

.topbar .login-info p{
    font-family: helvetica;
    font-size: .8em;
    margin-top: 25%;
    margin-bottom: 25%;
}

.topbar .login-info #logout-button{
    margin-top: 5%;
    border: 0px;
    padding: 3% 10% 3% 10%;
    border-radius: 1em;
    width: 80%;
    background-color: #57b846;
    color: #ffffff;
    transition: all 0.3s;
}

.topbar .login-form #logout-button:hover{
    background-color: #111111;
}
