.main-body{
    vertical-align: center;
    text-align: center;
}

.main-body .ribbon{
    font-family: helvetica;
    font-size: 2em;
    color: #002156;
    background-color: #FFFFFF;
    padding-top: 2vh;
    padding-right: 25vw;
    padding-left: 25vw;
    padding-bottom: 2vh;
    margin: 1vh 2vw 1vh 2vw;
    border-radius: 2vw;
}

.main-body .timetable{
    box-sizing: border-box;
    font-family: helvetica;
    width: 95vw;
    text-align: center;
    display: inline-block;
    margin: .5vh .5vw .5vh .5vw;
    background-color: #FFFFFF;
    border-radius: 1vw;
    margin-bottom: 4vh;
}

table {
    display: inline-block;
    vertical-align: center;
    border-collapse: collapse;
    margin: 4vh;
}
.main-body td, .main-body th{
    padding: 1vh 1vw 1vh 1vw;
    border: 1px solid #ddd;
    background-color:
    font-size: 1vw;
    display: table-cell;
}

.main-body th{
    background-color: #101060;
    color: #ffffff;
}

.main-body .odd {
    background-color: #f2f2f2;
}
